#Recipe {
  display: flex;
  justify-content: center;
}

.recipeViewSegment {
  border-width: 2px;
  border-style:groove;
  background-color: gray;
  padding: 5px;
  max-width: 90%;
  text-align: left;
}

#ownRecipeIndicator {
  background-color: red;
}