#searchInput {
  width: 30%;
  margin-bottom: 20px;
  height: 24px;
}

.recipeDiv {
  width: 30%;
  border-width: 1px;
  border-style:double;
  border-width: 20%;
  margin-left: 35%;
  background-color: darkolivegreen;
  height: max-content;
}
