#WelcomePage {
  text-align: center;
  margin-top: 8%;
  color: white;
}

#frontImage {
  width: 600px;
}

#FirstEntryPage {
  padding-left: 2%;
  width: 94%;
  display: flex;
}

#welcomeText {
  padding-left: 4%;
  font-size: 30px;
}